
<div ng-controller="memberController">
	<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Business Name</th>
			</tr>
			 </thead>
			 <tbody>
			<tr ng-repeat="member in members">
				<td>{{member.firstName}}</td>
				<td>{{member.lastName}}</td>
				<td>{{member.businessName}}</td>
			</tr>
</tbody>
		</table>
</div>
</div>
